<!-- JQuery required.  -->
<script>
	$(document).ready(function() {
		$("input[type=submit]").on('click', function(e) {
			if ($("#id_s").val() != $("#id_cs").val()) {
				alert("Passwords do not match.");
				return false;
			}
		});
	});
</script>


{% if msg %}
	<div>
	<p>{{msg}}</p>
	</div>
{% endif %}
<form method="post" action="{% url 'perfil.views.mudar_senha' %}">
{% csrf_token %}

<fieldset>
	<label for="id_u">Username:</label>
	<input id="id_u" name="u" type="text" value="{{uname}}">
	
	<label for="id_s">New password:</label>
	<input id="id_s" name="s" type="password">
	
	<label for="id_cs">Retype the new password:</label>
	<input id="id_cs" name="cs" type="password">
</fieldset>

<input name="t" type="hidden" value="{{token}}">

<input name="submit" type="submit" value="Send">
</form>
